<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Allergy Attention</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/peanutFavicon.png" />
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />

  <!-- Bootstrap core CSS -->
  <link href="assets/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <!-- Bootstrap Template from https://getbootstrap.com/docs/4.0/components/alerts/ -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
</head>

<body>
  <!-- Navigation -->
<nav>
<div class="topnav" id="myTopnav">
  <a id="title">Allergy Attention</a>
  <a href="/login">Home</a>
  <a href="/account">Account</a>
  <a href="/data">Data</a>
  <a href="/analysis" class="active">Analysis</a>
  <a href="/logout">Logout</a>
  <a href="javascript:void(0);" class="icon" onclick="openHamburgerMenu()">
    <img class="hamburger" src="/assets/img/menu.png">
  </a>
</div>
</nav>

<!-- Page Content -->
<content class="appPage">
<!-- Sidebar Widgets Column -->
    <div class="sidebar">
      <!-- Categories Widget -->
        <div class="sort">
          <h3>Ingredient List:</h3>
          <div class="pickSort">
            {{#if analyzeFood}}
            {{#each analyzeFood}}
              <h2>{{this.level}}</h2>
              <h4>{{this.ingredients}}</h4>
            {{/each}}
            {{/if}}
        </div>
    </div>
  </div>  

    <!-- Sidebar listing out data -->
    <div class="main">
      <h2>Analysis:</h2>
    <br><br>
    <canvas id="barChart"></canvas>
    <!-- Blog Entries Column -->
</div>  
  </content>
  <!-- /.container -->

  <script>
    const userData = document.querySelectorAll('h4');
    const h4Array = [];
    const food = [];

    userData.forEach((item) => {
        h4Array.push(item.innerHTML.split(','));      
    });

    h4Array.forEach((food) => {
        //console.log(food);
        food.forEach((item) => {
            console.log(item);
            food.push(item);
        });
    });
    console.log(food);

    let ctx2 = document.getElementById('barChart').getContext('2d');

    var myBarChart = new Chart(ctx2, {
      type: 'bar',
      data: {
       labels: ["cheese", "noodles", "chocolate"],
    datasets: [{
      label: 'Ingredients',
      data: [12, 19, 3],
      backgroundColor: [
        'rgba(255, 99, 132, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(255, 206, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
        'rgba(153, 102, 255, 0.2)',
        'rgba(255, 159, 64, 0.2)',
        'rgba(255, 99, 132, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(255, 206, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
        'rgba(153, 102, 255, 0.2)',
        'rgba(255, 159, 64, 0.2)'
      ],
      borderWidth: 1
    }]
        },
      options: {}
  });
  </script>

    <!-- Bootstrap core JavaScript -->
    <script src="/assets/appBundle.js"></script>

    <script>
      // hamburger menu functionality when screen is smaller
      function openHamburgerMenu() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
    </script>
</body>

</html>